fastapi
uvicorn[standard]

# ML/Data deps
numpy
scipy
scikit-learn
pandas
joblib
threadpoolctl

# Web + Utils
python-multipart
pydantic
requests
python-dotenv

# Visualization
matplotlib
seaborn

# Extra
graphviz
streamlit
